<div data-interchange="[../examples/interchange/default.html, (small)], [../examples/interchange/medium.html, (medium)], [../examples/interchange/large.html, (large)]">
  <div data-alert class="alert-box secondary radius">
    This is the default content.
    <a href="#" class="close">&times;</a>
  </div>
</div>

<a href="#" class="button [tiny small large]">Default Button</a>
<!-- Color Classes -->
<a href="#" class="button [secondary success alert]">Color Button</a>
<!-- Radius Classes -->
<a href="#" class="button [radius round]">Radius Button</a>
<!-- Disabled Class -->
<a href="#" class="button disabled">Disabled Button</a>
<!-- Expand Class -->
<a href="#" class="button expand">Expanded Button</a>

<form>
  <div class="row">
    <div class="large-6 columns">
      <label class="error">Error
        <input type="text" class="error" />
      </label>
      <small class="error">Invalid entry</small>
    </div>
    <div class="large-6 columns error">
      <label>Another Error
        <input type="text" />
      </label>
      <small class="error">Invalid entry</small>
    </div>
  </div>
  <textarea class="error" placeholder="Message..."></textarea>
  <small class="error">Invalid entry</small>
</form>

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">My Site</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button with Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
  </section>
</nav>

<a href="#" class="[tiny small medium large] [secondary alert success] [radius round] button split">Split Button <span data-dropdown="drop"></span></a><br>
<ul id="drop" class="f-dropdown" data-dropdown-content>
  <li><a href="#">This is a link</a></li>
  <li><a href="#">This is another</a></li>
  <li><a href="#">Yet another</a></li>
</ul>

<a href="#" data-dropdown="drop" class="button dropdown">Dropdown Button</a><br>
<ul id="drop" data-dropdown-content class="f-dropdown">
  <li><a href="#">This is a link</a></li>
  <li><a href="#">This is another</a></li>
  <li><a href="#">Yet another</a></li>
</ul>

<div class="row" data-equalizer>
  <div class="large-6 columns">
    <ul class="pricing-table" data-equalizer-watch>
      ...<p>IJIJIJ</p>
<p>IJIJIJ</p><p>IJIJIJ</p>


      <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
    </ul>    
  </div>
  <div class="large-6 columns">
    <ul class="pricing-table" data-equalizer-watch>
     <p>IJIJIJ</p>
     <p>IJIJIJ</p>
     <p>IJIJIJ</p>
      <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
    </ul>    
  </div>

  <ul class="example-orbit" data-orbit>
  <li>
    <img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://upload.wikimedia.org/wikipedia/commons/5/5b/Ultraviolet_image_of_the_Cygnus_Loop_Nebula_crop.jpg&sa=X&ei=sCoCU6-GLOH9ygOX-4GgAg&ved=0CAkQ8wc&usg=AFQjCNFahx5-vC_aILJBhfd91_HkSVnqNw" alt="slide 1" />
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li>
    <img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://upload.wikimedia.org/wikipedia/commons/5/5b/Ultraviolet_image_of_the_Cygnus_Loop_Nebula_crop.jpg&sa=X&ei=sCoCU6-GLOH9ygOX-4GgAg&ved=0CAkQ8wc&usg=AFQjCNFahx5-vC_aILJBhfd91_HkSVnqNw" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://upload.wikimedia.org/wikipedia/commons/5/5b/Ultraviolet_image_of_the_Cygnus_Loop_Nebula_crop.jpg&sa=X&ei=sCoCU6-GLOH9ygOX-4GgAg&ved=0CAkQ8wc&usg=AFQjCNFahx5-vC_aILJBhfd91_HkSVnqNw" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>
<div class="panel callout radius">
  <h5>This is a callout panel.</h5>
  <p>It's a little ostentatious, but useful for important content.</p>
</div>
<ul class="vcard">
  <li class="fn">Gaius Baltar</li>
  <li class="street-address">123 Colonial Ave.</li>
  <li class="locality">Caprica City</li>
  <li><span class="state">Caprica</span>, <span class="zip">12345</span></li>
  <li class="email"><a href="#">g.baltar@cmail.com</a></li>
</ul>