<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="foundation.css">
	<script src="/vendor/jquery.js"></script>
  <script src="foundation.js"></script>
  <script src="foundation.orbit.js"></script>

 <script src="foundation.min.js"></script>
<body>
	<%=yield%>
</body>
</html>